* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(164,195,34);
  background: radial-gradient(circle, rgba(164,195,34,1) 0%, rgba(83,194,115,1) 100%);
}

#wrapper {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 200px auto;
  background-color: white;
  border-radius: 35px;
}

#score {
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 30px 0;
}

#question-cont {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#answer-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 30%;
  height: 2em;
  border: none;
  border-radius: 5px;
  background-color: #40d9ff;
  color: white;
  margin: 15px;
  outline: none;
}

button:active {
  background-color: #1c6274;
}

.correct {
  background-color: #53c273;
}

.wrong {
  background-color: rgb(255, 38, 0);
}

#manage-cont {
  display: flex;
  justify-content: center;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #409adb;
}