<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Macrotis Exam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <table border="1">
    <thead>
      <th>Name</th>
      <th>City</th>
      <th>Category</th>
      <th>Price</th>
      <th>Long</th>
      <th>Latt</th>
      <th>Recommended age</th>
      <th>Duraion</th>
    </thead>
    <tbody></tbody>
  </table>

  <form>
    <div>
      <label for="">
        <span>Name:</span>
        <input type="text" name="attr_name">
      </label>
    </div>
    <div>
      <label for="">
        <span>City:</span>
        <input type="text" name="city">
      </label>
    </div>
    <div>
      <label for="">
        <span>Category:</span>
        <input type="text" name="price">
      </label>
    </div>
    <div>
      <label for="">
        <span>Price:</span>
        <input type="text" name="category">
      </label>
    </div>
    <div>
      <label for="">
        <span>Long:</span>
        <input type="text" name="long">
      </label>
    </div>
    <div>
      <label for="">
        <span>Latt:</span>
        <input type="text" name="latt">
      </label>
    </div>
    <div>
      <label for="">
        <span>Recommended age:</span>
        <input type="text" name="recommended_age">
      </label>
    </div>
    <div>
      <label for="">
        <span>Duration:</span>
        <input type="text" name="duration">
      </label>
    </div>
    <button type="submit">Send</button>
  </form>
  
  <script src="/assets/frontend.js"></script>
</body>
</html>