.wrapper {
  display: flex;
  width: 900px;
  margin: 0 auto;
  flex-flow: wrap;
}

.banner {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #b02aff; 
}

.item {
  height: 30px;
  width: 100px;
  background-color: #2aeaff;
  margin: 10px;
}

.main {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: #ffd62a;
  justify-content: flex-end;
}

.side-bar {
  width: 30%;
  height: 700px;
  background-color: #51d400;
}