<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My todos</title>
</head>

<body>
  <h1>What i need to do:</h1>
  <ul>
    <% todos.forEach((e) => { %>
      <li><%= e %></li>
    <% }); %>
  </ul>


</body>

</html>