.container {
  width: 800px;
  height: 300px;
  display: flex;
  background-color: #ffd62a;
  margin: 0 auto;
  padding: 0;
  justify-content: flex-end;
}

.item {
  height: 100px;
  width: 100px;
  background-color: #b02aff;
  align-self: flex-end;
  list-style-type: none;
  margin-left: 10px;
}