.container {
  margin: 0 auto;
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  min-width: 200px;
  min-height: 200px;
}

.green {
  background-color: #51d400;
  order: 3;
}

.yellow {
  background-color: #ffd62a;
  flex-grow: 2;
  order: 2;
}

.purple {
  background-color: #b02aff;
  order: 1;
}
