*{
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: calc(width* 0.9);
  justify-self: center;
  align-items: center;
  margin: 0 auto;
}

#price {
  width: 200px;
  justify-items: center;
}

h1, a, th, td {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a, th, td {
  text-transform: uppercase;
}

table {
  margin: 5px;
  border: 1px solid white;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  background-color: #000000;
  color: white;
  height: 2em;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

a {
  text-decoration: none;
  font-weight: 500;
}

h1 {
  margin-bottom: 10px;
}

td {
  box-sizing: border-box;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #53c273;
}

.cocktails, .non-alcoholic {
  display: inline-block;
}

.non-alcoholic {
  font-weight: 400;
  font-size: 12px;
  text-transform: lowercase;
}

.ingredients {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 12px;
}

.price {
  text-align: center;
  
}

.price:after {
  content: ' Ft';
  text-transform: capitalize;
}

.bordered {
  border-right: 2px solid white;
  padding-left: 1rem;
}