.container {
  width: 1000px;
  height: 600px;
  display: flex;
  background-color: #ffd62a;
  justify-content: center;
  margin: 0 auto;
}

.item {
  height: 100px;
  width: 100px;
  background-color: #b02aff;
  align-self: center;
}